.DS_Store
.localized
*.xccheckout
*.xcscmblueprint
build/
xcuserdata
*.pbxuser
vendor/
.bundle/
Pods/
.release/
*.gcno
ObjectiveC.gcda
Foundation.gcda
.idea/
.fauxpas/*.xml
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.swp
DerivedData/
fastlane/*.xml
*.ipa
*.app.dSYM.zip
images/*
*.mobileprovision
*.cer*
*.p12
*.env-vars.sh
*.env.*
source/
.build/
firebase-debug.log
.gitcredential
